ion-icon{
    background-color: #ffffff;
    width: 7%;
    height: 4vh;
    border-radius: 100%;
    text-align: center;
    padding: 2%;
    color: #5663FF;
    position: relative;
    right: 15%;
}
app-tarjeta-servicio{
    width: 85%;
    display: inline-flex;
    margin-left: 4%;
}

