.espacio1{
    padding-top: 10vw;
}
p{
    text-align: center;
    color: #999696;
}
.div1{
    border: 0.3vw solid rgb(180, 178, 178);
    height: 30vw;
    width: 80vw;
    padding: 0.1vw;
    margin: 0.1vw;
    display: flex;
    margin: auto;
    border-radius: 3vw;
  }

#contratar{
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
    z-index: 100;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0.7em;
    background-color: #5663ff;
    color: white;
    font-size: 1.3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#contratar button{
    border-top: 1em !important;
}