<div id="conte">
  <ion-icon (click)="setNumeroEstrellas(1)" [class]="numEstrellas >= 1 ? 'si_sel' : 'no_sel'" name="star"></ion-icon>
  <ion-icon (click)="setNumeroEstrellas(2)" [class]="numEstrellas >= 2 ? 'si_sel' : 'no_sel'" name="star"></ion-icon>
  <ion-icon (click)="setNumeroEstrellas(3)" [class]="numEstrellas >= 3 ? 'si_sel' : 'no_sel'" name="star"></ion-icon>
  <ion-icon (click)="setNumeroEstrellas(4)" [class]="numEstrellas >= 4 ? 'si_sel' : 'no_sel'" name="star"></ion-icon>
  <ion-icon (click)="setNumeroEstrellas(5)" [class]="numEstrellas >= 5 ? 'si_sel' : 'no_sel'" name="star"></ion-icon>
</div>
