<ion-header>
</ion-header>

<ion-content>
  <ion-img class="imagenInicio" src="../../assets/img01.png"></ion-img>
    <ion-item lines="none">        
      <ion-icon name="keypad-outline"></ion-icon>
    <ion-input type="tel" required="true" maxlength="10" placeholder="Número de teléfono" [(ngModel)]="phoneNumber" [(ngModel)]="qty"></ion-input>
</ion-item>
<div class="capch" id="recaptcha-container" data-size="compact"></div>
<div class="center">
  <app-boton   id="sign-in-button" texto="Siguiente" (click)="signIn(phoneNumber)" ></app-boton>
</div>

<h6 class="center2" style="color:rgb(255, 255, 255)">Ya tienes una cuenta?<a href="#"> Login</a></h6>

</ion-content>

